# ignore data directory that contains all the large fastq files
data/

# directory that holds the salmon quant output
quant/

# transcriptome indices
transcriptome_index/

# don't want to track history of R commands
\.Rhistory
